/******************************
Custom fonter
*******************************/

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Italic.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
      url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
      url('../fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url('../fonts/MonsieurLaDoulaise-Regular.woff2') format('woff2'),
      url('../fonts/MonsieurLaDoulaise-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/******************************
Brytpunkter: 
  Under 900px = Telefoner etc. 
  Över 900px = Mellanstora skärmar, såsom större telefoner och surfplattor. 
  Över 1300px = Laptop-/datorskärmar.
*******************************/

/******************************
Gemensam stil eller skärmnar som är under 900px breda.(mobile first)
******************************/
html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans','Trebuchet MS',  sans-serif;
    box-sizing: border-box;
    
}

body {
  background-attachment: fixed;
  background-size: cover;
  font-size: 14pt;
  background-image: url(../images/background-640.png); /* Den minsta av våra bakgrunder. Det är dumt att ha en onödigt stor bild för en liten skärm. */
}

h1, h2, h3, h4 {
  font-weight: normal;
}
h2, h3, h4 {
  font-family: 'Montserrat Alternates', Arial, sans-serif;
}


h2 {
  padding: 0;
  font-size: 1.4rem;
  color: #ffba00;  
  margin-bottom: 1.3em;
}

h3 {
  font-weight: normal;
  margin: 1em 0 .5em 0;
  font-size: 1em;
}



ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #ffba00;
  display: inline-block; 
}

/******************************
Länkeffekt (Överkurs)
******************************/

a::after { /* Vi använder ett s.k. "pseudoelement" för att skapa innehåll efter (eller före) något, utan att lägga till extra html. Vi kan kalla det ett hemligt element */
  /* Content "" behövs för att elementet ska existera */
  content: "";
  display: block;
  /*Än så länge har det ingen width. Det är det vi ska ändra när vi hovrar. Linjen är 2px hög. */
  width: 0;
  height: 2px;
  /* Linjen har en övertoning */
  background-image: linear-gradient(270deg, rgba(85,0,85,1) 0%,  rgba(255,0,85,1) 50%, rgba(255,186,0,1) 100%);
  /* När vi hovrar kommer vi animera egenskapen "width" och animeringen ska ta 0.2s. */
  transition: width .2s;
}

a:hover::after {
width: 100%; /* När vi hovrar över länken växer bredden på det hemliga elementet från 0% brett till 100% brett över 0.2 sekunder.  */
}

/******************************
Header
******************************/
header {
  text-align: right;
  color: #ffba00;
}

header h1 {
  font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
  font-size: 6em;
  text-align: right; 
  padding-right: 1.1em;
  padding-bottom: -1em;
  margin-top: 1.3em;
}



/******************************
Huvudmeny
******************************/
/* Vi sätter övergripande stil på huvudmenyn här, men eftersom vi tänker mobilt först och den inte kommer att se riktigt lika ut, 
börjar vi med att sätta "display: none" på den. Vi kommer att ändra detta till större storlekar senare. */
nav {
    /* Hamburgermeny */
    /* display: inline-block; */
    display: none;
    background-color: rgba( 255, 186, 0, .8);    
    padding: 1em;
    width: 10em;    
    text-align: left;
    z-index: 999;

}

nav .burger-menu {
  font-style: normal;
  font-weight: bolder; 
}
nav li {
    display: block;
    padding: 0 1em;
    text-align: right;
    
}

nav a {
  text-decoration: none;
  color: #550055;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-size: 1.2em;  
  display: inline-block;
}

/******************************
Content
******************************/

/** Stil för content, som har display: grid, för att vi ska kunna placera sidebar snyggt i alla storlekar. Vid den minsta skärmstorleken ligger allt ovanpå varandra, så detta märks inte än.  **/
.content {
  display: grid;
  grid-gap: 2em; 
  margin: 0 auto; 
  max-width: 70em; /* Bredden på container blir aldrig större än 70em. Detta för att vi ska ha den så stor som möjligt på mindre skärmar, men ändå ha den smalare och centrerad i full bredd. */
  padding: 0 2em; 
  color: #FFF8E5;
  margin-bottom: 2em;   
}

.sidebar {    
  /* Sidebar behöver också bete sig som en grid, en "undergrid" till content. Det syns inte nu, eftersom de bara ligger under varandra, men de kommer att ligga 
  bredvid varandra när man använder en mellanstor skärm */
  display: inherit;
  grid-gap: inherit;
}

/* Design av boxarna i sidebar. */
.box {  
  border-radius: .3em;
  border-bottom-right-radius: .3em;
  font-size: 1.3rem;  
  background: #550055;
}

.box h2 {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  background: #ffba00;
  color: #550055;
  padding: .3em 1.1em;
  margin-bottom: 0;
  
}
.box-list {
  padding: .7em 1.1em;  
}

.box-list a {
  font-size: .8em;
}


/******************************
History- och membersektionerna
******************************/
  .flex-container { /*Boxarna visas i en flexlayout. */
    display: flex;
    flex-flow: row wrap; /* De byggs på radvis. När de når slutet på aktuell bredd, börjar en ny rad. */
    gap: 2em; /* 2em mellan boxarna */
    
  }
  .history .flex-container {
    justify-content: space-between; /* växer från vänster och får jämnt mellanrum mellan start och slut av container.  */
  }

  .members .flex-container {
    justify-content: space-evenly; /* växer från mitten och boxarna har jämnt avstånd till varandra. */
  }

  .flex-item{    
    box-sizing: content-box; /* Jag vill inte att border ska räknas in i slutgiltiga storleken, eftersom jag vet att både boxen och bilderna ska vara 200px stora (förut har vi sagt att vi vill det, när vi gör layouter) */
    border: 1px solid #FFF8E5;
    
  }
  .members .flex-item {
    width: 200px;
    height: 200px;
    position: relative; /* för att hover-effekten ska kunna placera sig över bilden. */
    transition: all ease-in-out 0.3s;
  }

  /** Effekt med bakgrund och text när man hovrar över bilden **/
  .members .flex-item > .overlay {
    opacity: 0;
    transition: opacity ease-out .4s;
  }

  .members .flex-item span {
    display: none;
  }

  .members .flex-item:hover > .overlay {
    opacity: 1; 
    position: absolute; 
    bottom: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: linear-gradient(180deg, rgba(255,186,0,.2) 0%, rgba(85,0,85,.9) 90%);
    
  }

  .members .flex-item:hover span {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    display: inline;
    font-size: .8em;
    padding: .8em;
    color: #FFF8E5;
  }

  .history .flex-item {    
    width: 200px;  
    height: min-content;
  }

.footer {
  background-color: rgba( 255, 186, 0, .1);    
  padding: 1em;
  color: #FFF8E5;
}

/******************************
Stil för skärmar som är mer än 900px breda. 
******************************/
  @media (min-width: 900px)  {
    
    body {
      background-image: url(../images/background-1366.png);  /* Den minsta av våra bakgrunder. Det är dumt att ha en onödigt stor bild för en liten skärm. */         
      font-size: 14pt;     
    }

    header h1 {
      font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
      font-size: 5em;
      margin-top: 2em;
    }

    nav {
      display: block;
      width: 100%;      
      text-align: right;
      background-color: rgba( 255, 186, 0, 1);    
      position: fixed;
      top: 0;
      transition: all 0.2s ease;
    }

    .scrolled {
      background-color: rgba( 255, 186, 0, 1);  
      font-size: .8em;
      padding: .8em;
    }

    nav .burger-menu {
      display: none;
    }

    nav ul {
      margin-right: 1em;
    }
    nav li {
      display: inline;      
    }
    
    h2 {
      font-size: 1.5em;
      margin-top: 60px;
    }

    .box h2 {
      padding: .4em 1em;   
      font-size: 1em;
      margin-top: 0;
    }

    .box-list {
      padding: 1em;
      color: #ffba00;
      
    }
    .sidebar {
      grid-template-columns: 1fr 1fr;
      margin-top: 60px;
    }
    
  }
  
/******************************
Stil för skärmar som är mer än 1366px breda. 
******************************/
  @media (min-width: 1200px) {
    
    body {
        background-image: url(../images/background-1920.png);     
        font-size: 15pt;           
    }
    
    header h1 {
      font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
      font-size: 6em;
      margin-top: 1.7em;
    }

    /**
     * Establish one primary (⅔) column and one secondary (⅓) column.
     */
    
    .content {
      grid-template-columns: 2fr 1fr;
    }
    
    /**
     * 1. Automatically create sidebar rows that are as short as their content will allow.
     * 2. Make this element span 3 rows, allowing prose elements to flow to its left.
     */
    
    .sidebar {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content; /* 1 */
      grid-row: span 3; /* 2 */
    }
  }


/**
  Trevlig texteffekt

    background-image: linear-gradient(90deg, rgba(85,0,85,1) 0%,  rgba(255,0,85,1) 50%, rgba(255,186,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #550055; 
**/