@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Italic.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
      url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.woff2') format('woff2'),
      url('../fonts/MontserratAlternates-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Regular.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/AlegreyaSans-Bold.woff2') format('woff2'),
      url('../fonts/AlegreyaSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monsieur La Doulaise';
  src: url('../fonts/MonsieurLaDoulaise-Regular.woff2') format('woff2'),
      url('../fonts/MonsieurLaDoulaise-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans','Trebuchet MS',  sans-serif;
    box-sizing: border-box;
    
}

body {
  background-attachment: fixed;
  background-size: cover;
  font-size: 14pt;
  background-image: url(../images/background-640.png);
  color: #550055;
}
h1 {
  font-weight: normal;
}
h2, h3, h4 {
  font-weight: normal;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
}

h2 {
  margin-bottom: .6em;;
  padding: 0;
  font-size: 1.4rem;
  color: #ffba00;
  
}

h3 {
  font-weight: normal;
  margin: 1em 0 .5em 0;
  font-size: 1em;
}

header {
    text-align: right;
    color: #ffba00;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: #FFF8E5;
}


p {
  margin-bottom: .5em;
  line-height: 1.5em;
  
}

header h1 {
  font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
  font-size: 6em;
  text-align: right; 
  padding-right: 1.1em;
  padding-bottom: -1em;
  margin-top: 1.3em;
}
nav {
    /* Hamburgermeny */
    /* display: inline-block; */
    display: none;
    background-color: rgba( 255, 186, 0, .8);    
    padding: 1em;
    width: 10em;    
    text-align: left;

}

nav .burger-menu {
  font-style: normal;
  font-weight: bolder; 
}
nav li {
    display: block;
    padding: 0 1em;
    text-align: right;
    
}

nav a {
  text-decoration: none;
  color: #550055;
  font-family: 'Montserrat Alternates', Arial, sans-serif;
  font-size: 1em;
}

nav a:hover {  
  color: #550055;
  border-bottom: 3px solid #550055;
} 

.active {
  border-bottom: 3px solid #550055;
}

.box {
  
  border-radius: .3em;
  border-bottom-right-radius: .3em;
  font-size: 1.3rem;  
  background: #550055;
}

.box h2 {
  border-top-left-radius: .3em;
  border-top-right-radius: .3em;
  background: #ffba00;
  color: #550055;
  padding: .3em 1.1em;
  
}
.box-list {
  padding: .7em 1.1em;  
}

.box-list a {
  font-size: .8em;
  color: #ffba00;
}

.box-list a:hover {
  color: #ffba00;
  border-bottom: 3px solid #ffba00;
}

/**
 * 1. Use grid.
 * 2. Gutter space.
 * 3. Center at large sizes.
 * 4. Set maximum width.
 */

 .content {
    display: grid; /* 1 */
    grid-gap: 2em; /* 2 */
    margin: 0 auto; /* 2, 3 */
    max-width: 70em; /* 4 */
    padding: 0 2em; /* 2 */
    color: #FFF8E5;
    margin-bottom: 2em;   
  }

  .page-section a:hover {

    background: linear-gradient(90deg, rgba(85,0,85,1) 0%, rgba(255,186,0,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ffba00;
  }



  /**
   * Sidebar inherits grid display styles and gap size. This will be simpler once `display: subgrid` is supported!
   */  
  .sidebar {
    margin-top: 60px;
    display: inherit;
    grid-gap: inherit;
  }

  .footer {
    background-color: rgba( 255, 186, 0, .1);    
    padding: 1em;
    color: #FFF8E5;
  }
  

  /* Design for the history- and members sections.  */
  .flex-container {
    display: flex;
    flex-flow: row wrap;    
    gap: 2em;
  }
  .history .flex-container {
    justify-content: space-between; /* distribueras från vänster. */
  }

  .members .flex-container {
    justify-content: space-evenly; /* distribueras från mitten. */
  }

  .flex-item{    
    padding: .3em;
    border: 1px solid #fff;
    flex: 0 1 auto;
  }
  .history .flex-item {
    
    width: 150px; 
    height: 150px; 
  }
  .members .flex-item {
    width: 250px;
    height: 250px;
  }

  /**
   * At slightly wider sizes, show sidebar elements side by side (each taking up half the space, minus gutter gap and stuff).
   */
  @media (min-width: 900px)  {
    body {
      background-image: url(../images/background-1366.png);           
      font-size: 14pt;     
    }

    header h1 {
      font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
      font-size: 5em;
      margin-top: 2em;
    }

    nav {
      display: block;
      width: 100%;      
      text-align: right;
      background-color: rgba( 255, 186, 0, .6);    
      position: fixed;
      top: 0;
      /* transition: background-color 0.5s ease; */
      transition: all 0.2s ease;
    }

    .scrolled {
      background-color: rgba( 255, 186, 0, 1);  
      font-size: .8em;
      padding: .8em;
    }

    nav .burger-menu {
      display: none;
    }

    nav ul {
      margin-right: 1em;
    }
    nav li {
      display: inline;      
    }
    
    h2 {
      font-size: 1.5em;
      margin-top: 60px;
    }

    .box h2 {
      padding: .4em 1em;   
      font-size: 1em;
      margin-top: 0;
    }

    .box-list {
      padding: 1em;
      color: #ffba00;
      
    }
    .sidebar {
      grid-template-columns: 1fr 1fr;
    }
    
  }
  
  /**
   * At even wider sizes…
   */
  
  @media (min-width: 1366px) {
    
    body {
        background-image: url(../images/background-1920.png);     
        font-size: 15pt;           
    }
    
    header h1 {
      font-family: 'Monsieur La Doulaise', 'Arial', 'Sans Serif';
      font-size: 6em;
      margin-top: 1.7em;
    }

    /**
     * Establish one primary (⅔) column and one secondary (⅓) column.
     */
    
    .content {
      grid-template-columns: 2fr 1fr;
    }
    
    /**
     * 1. Automatically create sidebar rows that are as short as their content will allow.
     * 2. Make this element span 3 rows, allowing prose elements to flow to its left.
     */
    
    .sidebar {
      grid-template-columns: 1fr;
      grid-auto-rows: min-content; /* 1 */
      grid-row: span 3; /* 2 */
    }
  }


